/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*---------------- 
common styles 
------------------*/

*{
    margin: 0;
}
body{   
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* width: 1440px; */
}
i .fa-arrow-alt-circle-right{
   
    font-size: 16px;
}

.copa-color{
    color:#54bbf3; 
    
}

/*------------------
 header styles 
 -------------------*/

.header-area{
    height: 677px;
    background-color: #2D25A0;
}
.header-all-items{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 100px;
    
}
.header-title-and-button{
    width: 50%;
}
.header-title h1{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 15px;
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.header-button a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500 ;
    background-color: #e02c6e;
    padding: 10px 30px;
}

/* transitions */
.header-area:hover .header-image img{
    transform: rotate(30deg);
    transition:transform 0.7s ease-out ;
}

.header-area:hover{
    background-color: #e02251e1;
    transition: background-color 0.8s ease-in;   
}
.header-area:hover .header-button a{
    background-color: #093572;
    transition: background-color 0.7s ease-in;
}
.card:hover{
    background-color: rgba(233, 233, 248, 0.575);
    transform: translate(0, -16px);
    transition: transform 0.4s ease;
}

 /*--------------------
  main section, all-players styles 
  ---------------------*/

.all-players{
    /* width: 1440px; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.player-cards{
    margin-top: 70px;
    /* width: 1050px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 20px;
}
.card{
    width: 300px;
    height: 450px;
    box-shadow: 5px 5px 30px rgba(155, 152, 152, 0.445);
    padding: 15px;
    text-align: left;
    border-radius: 5px;
}
.card img{
    border-radius: 5px;
}
.card-info{
    color: #6c6c6cda;
}

/*----------------------
 bonus section styles 
 -----------------------*/




  /*----------------------
   footer styles
   ---------------------git */

.footer-area{
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.247);
    height: 220px;
    text-align: center;
}
.footer-logo img{
    position: relative;
    left: -55px;
}
.social-icons i{
    height: 82px;
    width: 82px;
    font-size: 32px;
    color: rgba(128, 128, 128, 0.555);
}
.copyright p{
    font-weight: 400;
}

/*------------------------------------------
 css styles for mobile, using media query
------------------------------------------- */

@media only screen and (max-width:688px) {
    
    .header-area{
        height: 810px;
    }
    .header-all-items{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .player-cards{
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .header-title h1{
        font-size: 34px;
    }
    .header-image img{
        margin-top: 80px;
        height: 320px;
        width: 380px;
    }
    .footer-area{
        padding: 10px;
        border: 0px solid rgba(128, 128, 128, 0.247);

}